<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>学生列表页</h1>
    <p>
      学生总数： <%= total %> , 当前第<%= page %>页，每页<%= limit %>条数据
    </p>
    <ul>
      <% datas.forEach(stu => { %>
      <li>
        <%= stu.name %>
      </li>
      <% }) %>
    </ul>
    <a href="?page=<%=+page-1%>">上一页</a>
    <a href="?page=<%=+page+1%>">下一页</a>
  </body>
</html>
